<div class="container">
  <h1><%= @cocktail.name %></h1>


  <ul>
    <% @doses.each do |dose|  %>
    <li> <b> <%= dose.ingredient.name %> </b> -- <%= dose.description %> <%= link_to "x", dose_path(dose), method: :delete %> </li>
    <% end %>
  </ul>

  <%= link_to "Add an Ingredient", new_cocktail_dose_path(@cocktail)%>
  <br>
  <%= link_to "All Cocktails", cocktails_path %>

</div

